<div class="card">
  <div class="card-body">
      <h4 class="card-title">Projects List</h4>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Name</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let d of viewData">
                  <td>{{d.name}}</td>
                  <td>
                      <button class="btn btn-primary" (click)="doUpdate(t)">Update</button>
                      <button class="btn btn-primary" [routerLink] = "['/view-project', d._id]">View</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>